<div>
    <h2>Title: <%="#{book.title}" %></h2>
    <h3>Author: <%="#{book.author.first_name} #{book.author.last_name}" %></h3>
    <p>Genre: <%="#{book.genre}" %></p>
    <p>Page Count: <%="#{book.page_count}" %></p>
    <p>Published by: <%="#{book.publisher}" %></p>
    <p>Printed : <%="#{book.print_date}" %></p>
</div>